* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

$colorprin: black;
$colorsec: rgb(152, 214, 233);
$texto: rgb(67, 21, 196);


header {
    height: 5em;
    background-color: $colorprin;
    h1 {
        color: $colorsec;
        font-size: 2em;
        text-align: center;
        padding: 20px;
        align-content: center;
    }
}

footer {
    color: $colorsec;
    background-color: $colorprin;
    height: 3em;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    color: $texto;
    margin-top: 10px;
    h2 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80vw;
        background-color: rgb(205, 201, 247);
    }
    ul {
        padding: 20px 20vw;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}